body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
}

.naked:link {
    color: #000000;
}

/* visited link */
.naked:visited {
    color: #000000;
}

.fnavw{

	
}